body {
    background-color: #333333;
    color : #FFFFFF;
    width: 700px;
    text-align: center;
    margin-right: auto;
    margin-left : auto;
  }

  div {
    background-color: black;
  }

  main {
      height: 460px;
      background-color: black;
  }

  img {
      display: inline-block;
  }

  #tittle {
      margin-top: 5vh;
  }

  #top {
      height: 40vh;
  }