body {
    background-color: #333333;
    color : #FFFFFF;
    width: 700px;
    text-align: center;
    margin-right: auto;
    margin-left : auto;
  }

  div {
    background-color: black;
  }

  #opening-wrapper {
      height: 460px;
  }